
<div>
    {{weapons}}
<ul class="dropdown-menu w-100 shadow-lg" id="categoryDropdown" style="display: none; max-height: 200px; overflow-y: auto;">
    {% if weapons %}
        {% for row in weapons %}
            <li>
                <a class="dropdown-item p-3 hover-bg-primary hover-text-white"
                   onclick="setCategory('{{ row.w_id }}', '{{ row.w_name }}')" >
                    {{ row.w_name }}<span class="badge bg-primary float-end"></span>
                </a>
            </li>
        {% endfor %}
    {% else %}
        <li class="dropdown-item text-muted p-3">No Weapons found</li>
    {% endif %}
</ul>
</div>